nav{
    background: #0b6a13;
    height: 80px;
    width: 100%;
}
label.logo{
    color: rgb(239, 255, 183);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}